@{ 
    ViewBag.Title = "Home Page";
    Layout = " _Layout.cshtml";
}

<h3>The World ASP.NET Core</h3>
<p> All new stuff</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>