@{ 
    ViewBag.Title = "Home Page";
   
}


<h3>RRISD Training ASP.NET Core</h3>
<p> Open Source MS</p>

<form>
    <div class="form-group">
        <label>Date</label>
        <input class="form-control"/>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input class="form-control"/>
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>